.page-container {
  min-height:100vw;
}

.contenidoMisRutinas {
  padding-left: 0;
  padding-right: 0 ;
  max-width: 100%;
  height: 100vh;
}
.footer{
  width: 100vw;
  height: fit-content;
}
.conf{
    width: 100vh;
    box-shadow: 0 0 2px var(--color-bg-alt);
    align-content: center;
}
.conf h2{
    font-weight: 600;
    font-family: var(--ff-main);
    padding: 30px 100px 10px;
    color: var(--color-bg-alt);
    text-transform: uppercase;
    font-size: 30px;
}

.config-content {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto 2rem;
  gap: 2rem;
  height: fit-content;
}
.config-content .config-list {
    margin-top: 5%;
    margin-left: 40%;
    width:80vh;
    height: 40vh;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.6);
    position: relative;
    align-content: center;
    background-color: var(--color-bg-alt);
}
.config-list h3{
    padding: 15px;
    font-weight: 500;
    color: white;
}

.config-item {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  color: white;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.config-item .icon {
  margin-right: 0.6rem;
}
.config-item .chevron {
  margin-left: auto;
}
.config-item:hover {
  box-shadow: 3px 0px 0px 0px var(--color-primary);
  color: var(--color-primary);
  transform: scale(1.03);

}
.config-panel{
    padding-top: 20px;
}

.config-panel .componenteActivo{
    margin-left: 40%;
    width: 700px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.6);
    background-color: var(--color-bg-alt);
    position: relative;
}

.config-placeholder {
  color: var(--text);
  font-style: italic;
}
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
.popup {
  background: var(--bg-alt);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  color:white;
}
.popup-logo {
  width: 80px;
  margin-bottom: 1rem;
}
.popup button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background: var(--color-primary);
  border: none;
  color: var(--color-text-inv);
  border-radius: 4px;
  cursor: pointer;
}
.popup button:hover {
  box-shadow: 0 0 8px var(--color-primary);
}
