.page-container {
  min-height:100vw;
}

.site-header {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  z-index:1000;
}
.barra-busqueda{
  margin-top: 2rem;
  margin-left: 30%;
}
.site-main {
  background:#f3eae8;
  top: 190px;
}
.contenidoEjercicios{
  background-color: white;
}
.listadoEjercicios{
  padding-top:2%;
  padding-bottom: 2%;
  display: inline;
}
.contenidoEjercicios .row.gx-6 h2{
  font-family: var(--ff-main);
  color: var(--color-bg-alt);
  padding-top: 20px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.contenidoEjercicios .col-6{
  padding-top: 40px;
}
.contenidoEjercicios .col-6 img{
  width: 80%;
  height: auto;
  margin-left: 10%;

}
.contenidoEjercicios .col-6 .formulario{
  padding-top: 30px;
  width: 100%;
  margin:auto;
}
.footer{
  width: 100vw;
  height: fit-content;
}
